<% provide(:title, 'Teams') %>
<h1>Team</h1>
 You can search for your favorite team here, we'll start with the <%= link_to "timberwolves" , teams_path(team: "timberwolves") %>

<%= form_tag teams_path, :method => 'get' do %>
    <%= text_field_tag :team, params[:team] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>


<h1> Team salaries info <%= @metadata["currentSeason"] %></h1>

<p>Team:         <strong><%= @metadata["teams"]       %> </strong></p>
<p>stdev:        <strong><%= @salaries["stdev"]       %> </strong></p>
<p>total:        <strong><%= @salaries["total"]       %> </strong></p>
<p>Average:      <strong><%= @salaries["average"]     %> </strong></p>
<p>Median:       <strong><%= @salaries["med"]         %> </strong></p>


<hr/>
<h4>Player     | Season  | Salary: </h4>
<% @salaries["salary"].each do |salary| %>
  <h5><%= salary["player_full_name"]  %> | <%= salary["season"]%>  | <%= salary["salary"] %></li></h5>
<% end %>