<% provide(:title, 'Players') %>
<h1>Players</h1>

<H2>Team Name:         <strong><%= @metadata["teams"].capitalize       %> </strong></h2>
<p>Number of players listed: <strong><%= @salaries["recordCount"] %> </strong></p>

<hr/>

<% @salaries["salary"].each do |salary| %>
  <h3><%= salary["player_full_name"]  %></h3>
  <ul>

    <li>Position:             <strong><%= salary["position_desc"]     %> </strong></li>
    <li>Rank:                 <strong><%= salary["rank"]              %> </strong></li>
    <li>Salary:               <strong><%= salary["salary"]            %> </strong></li>
    <li>Season:               <strong><%= salary["season"]            %> </strong></li>
    <li>Bonuses:              <strong><%= salary["all_bonuses"]       %> </strong></li>
    <li>Base Salary:          <strong><%= salary["base_salary"]       %> </strong></li>
  </ul>
<% end %>




